<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="Thymeleaf"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>系统日志管理</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/index.css" media="all" />
</head>
<style>
    .febs-tag-green {
        color: #52c41a;
        background: #f6ffed;
        border: 1px solid #b7eb8f;
    }
    .febs-tag-blue {
        color: #1890ff;
        background: #f6ffed;
        border: 1px solid #b7eb8f;
    }
    .febs-tag-green {
        color: #52c41a;
        background: #f6ffed;
        border: 1px solid #b7eb8f;
    }
    .febs-tag-red {
        color: #fa541c;
        background: #f6ffed;
        border: 1px solid #fa541c;
    }
    .febs-tag-blue {
        color: #1890ff;
        background: #e6f7ff;
        border: 1px solid #91d5ff;
    }
    .febs-tag-volcano {
        color: #fa541c;
        background: #fff2e8;
        border: 1px solid #ffbb96;
    }
    .febs-tag-purple {
        color: #722ed1;
        background: #f9f0ff;
        border: 1px solid #d3adf7;
    }
    .febs-tag-geekblue {
        color: #2f54eb;
        background: #f0f5ff;
        border: 1px solid #adc6ff;
    }
    .febs-tag-lime {
        color: #a0d911;
        background: #fcffe6;
        border: 1px solid #eaff8f;
    }
    .febs-tag-cyan {
        color: #13c2c2;
        background: #e6fffb;
        border: 1px solid #87e8de;
    }

</style>
<body>
<!--模糊查询部分-->
<form class="layui-form" id="searchForm" lay-filter="searchForm">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <span>用户名:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="userName" id="name" placeholder="用户名称" autocomplete="off">
            </div>
            <span>IP地址:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="ip" id="ip" placeholder="IP地址" autocomplete="off">
            </div>
            <span>登入地址:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="location" id="location'" placeholder="登入地点" autocomplete="off">
            </div>
            <span>时间范围:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="range" id="range" placeholder="时间范围" autocomplete="off">
            </div>
            <div class="layui-inline">
                &nbsp;&nbsp;
                <button type="button" class="layui-btn layui-btn-normal"  lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>搜索</button></legend>
                <button type="reset" class="layui-btn layui-btn-warm" ><span class="layui-icon layui-icon-refresh"></span>重置</button></legend>
            </div>
        </form>
    </blockquote>
</form>
<!--数据表格-->
<table class="layui-hide" id="systemLogTable" lay-filter="systemLogTable"></table>
<!--表格工具条-->
<div id="toolBar" style="display: none;">
    <button type="button" class="layui-btn  layui-btn-sm"  lay-event="batchDelete" ><i class="layui-icon"></i>批量删除</button>
</div>
<!--行工具条-->
<script type="text/html" id="lineBar">
    <span shiro:lacksPermission="systemLog:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a shiro:hasPermission="systemLog:delete" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script type="text/html" id="log-time">
    <div>
        {{# if (d.time < 500) { }}
        <span class="layui-badge febs-tag-green">{{d.time}} ms</span>
        {{# } else if (d.time < 1000) { }}
        <span class="layui-badge febs-tag-cyan">{{d.time}} ms</span>
        {{# } else if (d.time < 1500) { }}
        <span class="layui-badge febs-tag-blue">{{d.time}} ms</span>
        {{# } else { }}
        <span class="layui-badge febs-tag-red">{{d.time}} ms</span>
        {{# } }}
    </div>
</script>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script  type="text/javascript">
    layui.use(['laydate', 'laypage', 'layer', 'table','form'], function(){
        var laydate = layui.laydate //日期
        var table = layui.table //表格
        var form=layui.form;
        var $=layui.jquery;
        //初始化时间选择器
        laydate.render({
            elem: '#range' //指定元素
            ,range: '~'
        });
        //加载数据
        var tableIns= table.render({
            elem: '#systemLogTable'
            ,url:'/systemLog/findPage'
            ,title: '用户表'
            ,page: true //开启分页
            ,height:'full-75'
            ,toolbar: '#toolBar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left', totalRowText: '合计：'}
                ,{field: 'userName', title: '操作人'}
                ,{field: 'time', title: '操作耗时', templet: "#log-time", sort: true}
                ,{field: 'operation', title: '操作', sort: true}
                ,{field: 'method', title: '方法', sort: true}
                ,{field: 'params', title: '参数列表', sort: true, totalRow: true}
                ,{field: 'ip', title: 'IP地址', sort: true, totalRow: true}
                ,{field: 'createTime', title: '时间', sort: true, totalRow: true}
                ,{field: 'location', title: '操作地点'}
                ,{fixed: 'right',title:'操作' , align:'center', toolbar: '#lineBar'}
            ] ]
        });
        //模糊查询
        form.on('submit(doSearch)',function (data) {
            tableIns.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
        })
        //监听工具条的事件
        table.on("toolbar(systemLogTable)",function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'batchDelete':
                    batchDelete(data);
                    break;
            };
        });
        //监听行工具条的事件
        table.on("tool(systemLogTable)",function(obj){
            var data = obj.data; //获得当前行数据
            switch(obj.event){
                case 'delete':
                    deleteLoginLog(data);
                    break;
            };
        });
        //删除
        function deleteLoginLog(data) {
            layer.confirm('你确定要删除['+data.userName+']这条操作日志吗?', {icon: 3, title:'提示'}, function(index){
                $.get("/systemLog/delete",{id:data.id},function(res){
                    if(res.code==0){
                        tableIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }
        //批量删除
        function batchDelete() {
            //得到选中行
            var checkStatus = table.checkStatus('systemLogTable');
            var dataLength=checkStatus.data.length;
            if(dataLength>0){
                layer.confirm('你确定要删除这些数据吗?', {icon: 3, title:'提示'}, function(index){
                    var data=checkStatus.data; //获取选中行的数据
                    var ids="";
                    $.each(data,function(index,item){
                        ids+=item.id+",";
                    })
                    ids=ids.substring(0,ids.length-1);
                    $.get("/systemLog/batchDelete",{"ids":ids},function(res){
                        if(res.code==0){
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                    layer.close(index);
                });

            }else{
                layer.msg("请选中操作行")
            }
        }
    });
</script>
</body>
</html>