<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>修改密码--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row changePwd">
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
		<div class="layui-input-block layui-red pwdTips">用户默认密码“zhangyukang”，第三方用户不支持修改密码</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="hidden" name="id" th:value="${session.user.id}">
				<input type="text" th:value="${session.user.userName}" value="驊驊龔頾" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">旧密码</label>
			<div class="layui-input-block">
				<input type="password" value="" th:class="${session.user.type==2?'layui-input layui-disabled':'layui-input'}" name="oldPassWord" placeholder="请输入旧密码" lay-verify="required|oldPassWord" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-block">
				<input type="password" th:class="${session.user.type==2?'layui-input layui-disabled':'layui-input'}"  name="newPassWord" placeholder="请输入新密码" lay-verify="required|newPassWord" id="oldPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
				<input type="password"  th:class="${session.user.type==2?'layui-input layui-disabled':'layui-input'}" name="newPassWord" placeholder="请确认密码" lay-verify="required|confirmPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="button" class="layui-btn" lay-submit="" lay-filter="changePwd">立即修改</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script>
    layui.use(['form','layer'],function(){
        var form = layui.form;
		var  $ = layui.jquery;
        var layer = parent.layer === undefined ? layui.layer : top.layer;
        //添加验证规则
        form.verify({
            newPassWord : function(value, item){
                if(value.length < 6){
                    return "密码长度不能小于6位";
                }
            },
            confirmPwd : function(value, item){
                if(!new RegExp($("#oldPwd").val()).test(value)){
                    return "两次输入密码不一致，请重新输入！";
                }
            }
        });
        form.on('submit(changePwd)',function (data) {
            $.post("/user/changePwd",data.field,function (res) {
              if(res.code=="0"){
                  layer.confirm('密码已经更改，是否重新登入', {icon: 3, title:'提示'}, function(index){
                      parent.location.href="/login/logout"
                      layer.close(index);
                  });
			  }else{
                  layer.msg(res.msg);
			  }
            })
        })
    })
</script>
</body>
</html>