<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.rbac.sys.mapper.RoleExtMapper">
    <insert id="insertRole"  parameterType="com.coderman.rbac.sys.bean.Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role (
        role_name,remark,create_time,modified_time
        )
        VALUES
        (#{roleName},#{remark},#{createTime},#{modifiedTime})
    </insert>
    <insert id="insertRoleWithMenu" >
        INSERT  into sys_role_menu(role_id,menu_id)
        values
        <foreach collection="mIds" item="mId" separator=",">
            (#{roleId},#{mId})
        </foreach>
    </insert>

</mapper>