<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.rbac.sys.mapper.UserExtMapper">
    <select id="findAllWithDepartment" parameterType="com.coderman.rbac.sys.vo.UserVo" resultType="com.coderman.rbac.sys.dto.UserDTO">
        SELECT u.id,u.user_name,u.dept_id,u.email,u.phone_number,u.status,u.create_time,u.modified_time,u.last_login_time,
        u.description,u.sex,u.type,d.dept_name,u.avatar,u.mgr_id,u2.user_name managerName  FROM sys_user u LEFT JOIN sys_user u2 ON u.`mgr_id`=u2.`id`  LEFT JOIN sys_dept d
        ON u.`dept_id`=d.`id`
        WHERE u.type!=0
            <if test="userName!=null and userName!=''">
                and u.user_name like concat('%',#{userName}, '%')
            </if>
            <if test="email!=null and email!=''">
                and u.email like concat('%',#{email}, '%')
            </if>
            <if test="sex!=null and sex!=''">
                and u.sex =#{sex}
            </if>
            <if test="status!=null and status!=''">
                and u.status=#{status}
            </if>
            <if test="deptName!=null and deptName!=''">
                and u.dept_name like concat('%',#{deptName}, '%')
            </if>
    </select>
    <select id="userInfo" parameterType="com.coderman.rbac.sys.vo.UserVo" resultType="com.coderman.rbac.sys.dto.UserDTO">
        SELECT u.id,u.birth,u.user_name,u.dept_id,u.email,u.phone_number,u.status,u.create_time,u.modified_time,u.last_login_time,
        u.description,u.sex,u.type,d.dept_name,u.avatar,u.mgr_id,u2.user_name managerName  FROM sys_user u LEFT JOIN sys_user u2 ON u.`mgr_id`=u2.`id`  LEFT JOIN sys_dept d
        ON u.`dept_id`=d.`id`
        WHERE   u.id=#{id}
            <if test="userName!=null and userName!=''">
                and u.user_name like concat('%',#{userName}, '%')
            </if>
            <if test="email!=null and email!=''">
                and u.email like concat('%',#{email}, '%')
            </if>
            <if test="sex!=null and sex!=''">
                and u.sex =#{sex}
            </if>
            <if test="status!=null and status!=''">
                and u.status=#{status}
            </if>
            <if test="deptName!=null and deptName!=''">
                and u.dept_name like concat('%',#{deptName}, '%')
            </if>
    </select>

    <select id="findUserById" parameterType="com.coderman.rbac.sys.vo.UserVo" resultType="com.coderman.rbac.sys.bean.User">
         SELECT u.id,u.user_name,u.dept_id,u.email,u.phone_number,u.status,u.create_time,u.modified_time,u.last_login_time,
        u.description,u.sex,u.type,u.avatar,u.mgr_id FROM sys_user u
        WHERE u.id=#{id}
    </select>

    <insert id="insertUserWithRoles" >
        INSERT  into sys_user_role(user_id,role_id)
        values
        <foreach collection="roles" item="rid" separator=",">
            (#{userId},#{rid})
        </foreach>
    </insert>
    <insert id="insertUserReturnUser" parameterType="com.coderman.rbac.sys.bean.User" useGeneratedKeys="true" keyProperty="id" >
        insert into sys_user(user_name,pass_word,dept_id,email,phone_number,status,create_time,modified_time,salt,sex,avatar
        ,description,type,mgr_id,birth)
        values
         (#{userName},#{passWord}
        ,#{deptId}
        ,#{email}
        ,#{phoneNumber}
        ,#{status}
        ,#{createTime}
        ,#{modifiedTime}
        ,#{salt}
        ,#{sex}
        ,#{avatar}
        ,#{description}
        ,#{type}
        ,#{mgrId}
        ,#{birth})

    </insert>

</mapper>